<a [routerLink] = "['/products']">Home</a>
<h4>Edit this product</h4>

<form>
    <label>Name:
        <input type="text" name="editProduct.name" [(ngModel)]="editProduct.name">
    </label>

    <label>Price:
        <input type="text" name="editProduct.price" [(ngModel)]="editProduct.price">
    </label>

    <label>Image:
        <input type="text" name="editProduct.image" [(ngModel)]="editProduct.image">
    </label>

    <input type="submit" value="Update" (click)="onEdit()">

</form>
<button (click)="onDelete(editProduct)">Delete</button>
